.header-container {
  height: 50px;
}

.left {
  float: left;
  width: 900px;
  border-bottom: 4px solid #f0f0f0;
}

.right {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

.en {
  float: left;
  padding: 2px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 12px;
}
