<div class="pages-found-table table-container mat-elevation-z8" [hidden]="!urlDatabase.data.length">

  <mat-table [@fadeInOut]="'in'" #table layout-align="center center" [dataSource]="dataSource">

    <ng-container cdkColumnDef="url">
      <mat-header-cell *cdkHeaderCellDef> URL </mat-header-cell>
      <mat-cell class="url" *cdkCellDef="let row"> {{row.url}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <mat-spinner
          [@fadeInOut]="'in'"
          *ngIf="row.status == 'Loading' && !isAborted"
          class="spinner"
        ></mat-spinner>

        <i *ngIf="row.status == 'Loaded'" class="material-icons">done</i>
        <i *ngIf="row.status == 'Queued' && !isAborted" class="material-icons">hourglass_full</i>
        <i *ngIf="row.status == 'Error'" class="material-icons">error</i>

         {{row.status}}

        <span *ngIf="isAborted && (row.status == 'Queued' || row.status == 'Loading')">(Aborted)</span>

      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                [length]="urlDatabase.data.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 50, 100, 500]"
                >
  </mat-paginator>
</div>
