.mat-column-status {
  text-align: right;
}

.mat-column-url {
  text-align: left;
}

.table-container {
  margin-top: 20px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-container[hidden] {
  display: none;
}

i.material-icons {
  transform: scale(0.9);
  position: relative;
}

.mat-cell {
  word-wrap: break-word;
}

.mat-column-url {
  width: 85%;
}

.spinner {
  display: inline-block;
  position: relative;
  left: -5px;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
