<div
  [@fadeInOut]="'in'"
  *ngIf="keysGetter(sniffList).length > 0"
  style="margin-bottom: 50px;"
>
  <div class="rTable">
    <div class="rTableRow">
      <div class="rTableHead" style="width: 282px;">Success Criterion</div>
      <div class="rTableHead" style="width: 140px;">Suggested techniques</div>
      <div class="rTableHead" style="width: 70px;">Pages</div>
      <div class="rTableHead" style="width: 70px;">Results</div>
      <div
        class="rTableHead"
        style="width: 60px;"
        i18n-matTooltip
        i18n
        matTooltip="Whether all results apply to the top-level element only (instead of to a specific element)"
      >
        Top only
      </div>
      <div class="rTableHead" style="width: 70px;" i18n>Expand</div>
    </div>
    <ng-container *ngIf="aggressiveness === AggregationAggressiveness.Minimal">
      <app-sniff
        *ngFor="let code of keysGetter(sniffList)"
        [code]="code"
        [codeMessages]="sniffList[code].codeMessages"
        [results]="sniffList[code].filteredItems"
      ></app-sniff>
    </ng-container>
    <ng-container *ngIf="aggressiveness !== AggregationAggressiveness.Minimal">
      <app-sniff-aggregated
        *ngFor="let code of keysGetter(sniffList)"
        [code]="code"
        [codeMessages]="sniffList[code].codeMessages"
        [results]="sniffList[code].aggregatedFilteredItems"
      ></app-sniff-aggregated>
    </ng-container>
  </div>
</div>
