<div
  [@fadeInOut]="'in'"
  *ngIf="keysGetter(sniffList).length > 0"
  style="margin-bottom: 50px;"
>
  <div class="rTable">
    <div class="rTableRow">
      <div class="rTableHead" style="width: 282px;">Success Criterion</div>
      <div class="rTableHead" style="width: 240px;">Suggested techniques</div>
      <div class="rTableHead" style="width: 70px;">Pages</div>
      <div class="rTableHead" style="width: 70px;">Results</div>
      <div class="rTableHead" style="width: 70px;">Expand</div>
    </div>
    <app-sniff
      *ngFor="let code of keysGetter(sniffList)"
      [code]="code"
      [codeMessages]="sniffList[code].codeMessages"
      [results]="sniffList[code].filteredItems"
    ></app-sniff>
  </div>
</div>
