<div class="app ui text container">
  <app-federalheader></app-federalheader>

  <div class="logo">
    <img src="assets/logo.png" alt="BOSA logo" />
  </div>

  <h1>Accessibility Check</h1>
  <app-search-form
    (audienceChanged)="onAudienceChanged($event)"
    (onReinitialize)="reinitialize($event)"
  ></app-search-form>

  <app-pages-found></app-pages-found>

  <app-toggles (update)="togglesChange($event)" [audience]="audience"></app-toggles>
  <h1>{{ audienceText }}</h1>
  <app-sniff-list
    [audience]="audience"
    [showNotices]="showNotices"
    [showWarnings]="showWarnings"
    [showErrors]="showErrors"
  ></app-sniff-list>

  <!--<div style="height: 40px; position: fixed; bottom: 0; width: 940px; text-align: center; font-size: 11px; color: #ccc;">Copyright © 2017 FPS Strategy and Support</div>-->
</div>
