.app {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  width: 940px;
  margin: auto;
  background: #fff;
  height: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.logo {
  margin-top: 20px;
  margin: auto;
  width: 92px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 92px;
  flex: 0 0 92px;
}

.logo img {
  margin-top: 20px;
}
