<div class="app ui text container">
  <app-federalheader></app-federalheader>

  <div class="logo">
    <img src="assets/logo.png" i18n-alt alt="BOSA logo" />
  </div>

  <h1 i18n>Accessibility Check</h1>
  <app-search-form *ngIf="!loadingImportFromUrl"
    (audienceChanged)="onAudienceChanged($event)"
    (aggressivenessChanged)="onAggressivenessChanged($event)"
    (onReinitialize)="reinitialize($event)"
  ></app-search-form>
  <h2 *ngIf="loadingImportFromUrl">Loading...</h2>
  <app-pages-found></app-pages-found>

  <app-toggles (update)="togglesChange($event)" [audience]="audience"></app-toggles>
  <h1 *ngIf="audienceText !== ''">{{ audienceText }}</h1>
  <h3 *ngIf="aggressivenessText !== ''">{{ aggressivenessText }}</h3>
  <p style="font-size: 12px" *ngIf="aggressivenessDescription !== ''">{{ aggressivenessDescription }}</p>
  <app-sniff-list
    [audience]="audience"
    [showNotices]="showNotices"
    [showWarnings]="showWarnings"
    [showErrors]="showErrors"
    [aggressiveness]="aggressiveness"
  ></app-sniff-list>
</div>
