<div
  [@fadeInOut]="'in'"
  *ngIf="keysGetter(results).length > 0"
  class="rTableRow"
  [class.expanded]="expanded"
>
  <div class="rTableCell" style="width: 282px;">
    <span [innerHtml]="codeMessages[0][1]"></span>
  </div>
  <div class="rTableCell" style="width: 140px;">
    <span *ngIf="codeMessages[1]" [innerHtml]="codeMessages[1][1]"></span>
  </div>
  <div class="rTableCell" style="width: 70px;">
    N/A
  </div>
  <div class="rTableCell" style="width: 70px;">
    {{ getStats() }}
  </div>

  <div class="rTableCell" style="width: 60px;">
    {{ isTopOnly() }}
  </div>
  <div class="rTableCell" style="width: 70px;">
    <a class="toggle-expand-collapse" (click)="expanded = !expanded">
      <span class="collapse" *ngIf="expanded" i18n>Collapse (-)</span>
      <span class="expand" *ngIf="!expanded" i18n>Expand (+)</span>
    </a>
  </div>
</div>
<div
  [@fadeInOut]="'in'"
  *ngIf="keysGetter(results).length > 0 && expanded"
  class="rTableRow"
>
  <div class="rTableCellFullWidth">
    <mat-list *ngFor="let hash of keysGetter(results)">
      <app-sniff-aggregated-item
        [result]="results[hash]"
      ></app-sniff-aggregated-item>
    </mat-list>
  </div>
</div>
