<div>
  <div>
    <label for="url">Enter your URL</label>
  </div>

  <md-input-container class="example-full-width">
    <input
      mdTooltip="Enter your URL here."
      size="50"
      mdInput
      title="Enter your URL"
      placeholder="E.g.: http://www.example.com"
      type="text"
      id="url"
      required
      pattern="https?://.+"
      [(ngModel)]="model.url"
      name="url"
      #url="ngModel"
    >
    <md-error *ngIf="url.errors && url.errors.required">
      URL is required!
    </md-error>
    <md-error *ngIf="url.invalid">
      Must be a valid URL!
    </md-error>
  </md-input-container>

  <md-select
    [disabled]="isSniffing"
    placeholder="Standard"
    class="select"
    *ngIf="standards$ | async"
    [(ngModel)]="model.standard"
    mdTooltip="Choose the accessibility standard to use for this check."
  >
    <md-option
      *ngFor="let standard of standards$ | async;"
      [value]="standard"
    >{{standard}}</md-option>
  </md-select>
      <button md-button style="margin-left: 20px; cursor: pointer;" (click)="advanced = !advanced" mdTooltip="Click to toggle advanced options.">&or; Tools</button>
    <div [@fadeInOut]="'in'" *ngIf="advanced" style="
      position: relative;
      top: 30px;
      margin-bottom: 25px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      width: 70%;
      margin: 0 auto;
      padding: 30px;
      background: #f9f9f9;
    ">
      <md-select [disabled]="isSniffing" placeholder="Crawl depth" mdTooltip="Choose how deep the crawler should go." class="select" [(ngModel)]="model.crawlDepth">
        <md-option value="1">0 (page on the URL only)</md-option>
        <md-option value="2">1 (page on the URL & links)</md-option>
        <md-option value="3">2</md-option>
        <md-option value="4">3</md-option>
        <md-option value="-1">Unlimited</md-option>
      </md-select>
      <span style="margin-left: 20px;">
        <input style="display: none;" id="input-file-id" type="file" accept="text/plain" (change)="importData($event)">
        <label for="input-file-id" mdTooltip="Click to import previously exported results." class="mat-raised-button">
          <i class="material-icons" style="position: relative; top: 6px; transform:scale(0.8)">file_upload</i> Import results</label>
      </span>
      <button
         style="margin-left: 20px;"
        [disabled]="!exportable"
        md-raised-button
        (click)="exportData()"
        mdTooltip="Click to export the current results. Clicking this button will open a new window with an export. You can save this file by clicking 'File > save as'. If the window doesn't open, please whitelist this website in your ad blocker."
      ><i style="transform:scale(0.8)" class="material-icons">file_download</i> Export results</button>
      <button
        style="margin-left: 20px;"
        [disabled]="!exportable"
        md-raised-button
        (click)="printVersion()"
      ><i style="transform:scale(0.8)" class="material-icons">print</i> Print version
      </button>
  </div>
  <div style="
    position: relative;
    top: 50px;
  ">
    <button
      md-raised-button
      class="mat-primary"
      [disabled]="url.errrors || url.invalid"
      (click)="sendUrl()"
      style="margin-top: 20px; transform:scale(1.2)"
      mdTooltip="Click to start checking the URL."
    >Check</button>
    <span style="margin-top: 15px;" [@fadeInOut]="'in'" *ngIf="isSniffing">
      <md-spinner class="spinner"></md-spinner>
      <span style="font-size: 14px; padding-left: 5px; padding-right: 5px;"> Sniffing</span>
      <button
        md-raised-button
        class="mat-warn"
        (click)="abortAll()"
        mdTooltip="Click to abort the current check."
      >Abort</button>
    </span>

  </div>

</div>
