.mat-placeholder-required {
  display: none;
}

.select {
  margin-left: 20px;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  padding-left: 15px;
  top: 5px;
}

.tools {
  margin-left: 20px;
  cursor: pointer;
}

.mat-form-field {
  width: 40%;
}

.mat-select {
  width: 16%;
}
